button {
    margin: 20px;
    display: flex;
    gap: 10px;
    border: 1px solid rgb(243 232 255);
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
}
i {
    font-size: 24px;  
}