.modal-overlay {
    z-index: 2; /* Ensure the overlay is above other elements */
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as needed */
  }