<div class="fixed inset-0 flex items-center justify-center">
  <!-- <div class="modal-overlay"></div> -->
  <div class="bg-purple-100 z-30 rounded-3xl flex flex-col px-40 py-2 relative">
    <div class="flex justify-evenly">
      <h1 mat-dialog-title class="text-center text-xl font-bold">
        Create new task
      </h1>
      <div mat-dialog-actions>
        <mat-icon
          class="cursor-pointer"
          mat-raised-button
          (click)="closeCreateTask()"
          >cancel</mat-icon
        >
      </div>
    </div>
    <div mat-dialog-content class="flex flex-col">
      <input
        class="border-none my-3 rounded-md w-full"
        type="text"
        placeholder="Enter Task name here..."
      />
      <div class="bg-white my-3 rounded-md flex flex-col p-2 w-full">
        Complete until:
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="bg-white my-3 rounded-md flex flex-col p-2 w-full">
        Add this task to the list:
        <div class="flex">
          <select class="border-none text-sm font-bold w-28">
            <option
              *ngFor="let item of inputData"
              taskCategory="inputData.taskCategory"
            ></option>
            <!-- <option>{{ inputData.taskCategory }}</option> -->
            <option>Meetings</option>
            <option>Birthdays</option>
          </select>
          <app-button
            class="text-xs"
            buttonText="Create new list"
            buttonIcon="add_circle"
            (buttonAction)="openCreateList()"
          ></app-button>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <app-button
        mat-dialog-close
        class="m-auto cursor-pointer"
        type="submit"
        buttonText="Save this task"
      ></app-button>
    </div>
  </div>
</div>
<app-create-list *ngIf="isCreateListOpen"></app-create-list>
