<div class="fixed inset-0 flex items-center justify-center">
  <div class="modal-overlay"></div>
  <div
    class="bg-purple-100 z-20 rounded-3xl flex flex-col shadow px-40 py-2 relative"
  >
    <div class="flex justify-evenly">
      <h1 class="text-center text-xl font-bold">Create List</h1>
      <i class="fas fa-times-circle absolute right-5 cursor-pointer" (click)="onCloseDialog()"></i>
    </div>

    <div class="flex flex-col">
      <input
        class="border-none m-3 rounded-md"
        type="text"
        placeholder="Enter List name here..."
      />
    </div>
    <app-button
      class="m-auto"
      type="submit"
      buttonText="Save this list"
    ></app-button>
  </div>
</div>
