<div class="flex justify-center">
  <div class="w-1/2 flex justify-between">
    <h1 class="text-3xl text-center flex-2 px-32 py-10 font-bold">
      {{ categoryTitle }}
    </h1>
    <div class="w-1/2 text-right mr-5">
      <mat-icon [matMenuTriggerFor]="menu" class="cursor-pointer py-10 w-full"
        >more_vert</mat-icon
      >
      <mat-menu #menu="matMenu" xPosition="before">
        <app-button
          class="text-xs"
          buttonText="Edit the list"
          buttonIcon="edit"
          (buttonAction)="onEdit()"
        ></app-button>
        <app-button
          class="text-xs"
          buttonText="Delete the list"
          buttonIcon="delete"
          (buttonAction)="onDelete()"
        ></app-button>
      </mat-menu>
    </div>
  </div>
</div>
<div class="pb-32">
  <ng-content></ng-content>
</div>
