<div class="flex justify-end mr-32 p-6 gap-10">
  <app-button
    [buttonText]="!taskListView ? 'View all tasks' : 'View Categories'"
    (buttonAction)="toggleTaskAndCategory()"
  ></app-button>
  <app-button
    class=""
    (buttonAction)="openCreateTask()"
    buttonIcon="add_circle"
    buttonText="Create new task"
    buttonColor="rgb(243 232 255)"
  ></app-button>
</div>
<app-create-task *ngIf="isCreateTaskOpen"></app-create-task>
<div *ngIf="!taskListView" class="flex flex-wrap">
  <app-category-card
    *ngFor="let item of categoryTitle"
    [categoryTitle]="item"
    countListItems="{{ tasks.length }}"
    (categoryCardAction)="openCategoryList()"
  ></app-category-card>
</div>
<div *ngIf="taskListView">
  <app-task
    (taskAction)="onTaskAcion()"
    *ngFor="let task of tasks"
    [task]="task"
  ></app-task>
</div>
