<div class="flex justify-end mr-32 p-6 gap-10">
  <app-button
    [buttonText]="!taskListView ? 'View all tasks' : 'View Categories'"
    (buttonAction)="toggleTaskAndCategory()"
  ></app-button>
  <app-button
    class=""
    (buttonAction)="openCreateTask()"
    buttonIcon="add_circle"
    buttonText="Create new task"
    buttonColor="rgb(243 232 255)"
  ></app-button>
</div>
<div *ngIf="!taskListView" class="flex flex-wrap pb-32">
  <app-category-card
    *ngFor="let task of tasks"
    [categoryTitle]="task.taskCategory"
    countListItems="{{ tasks.length }}"
    (categoryCardAction)="openCategoryList()"
  ></app-category-card>
</div>
<div *ngIf="taskListView" class="pb-32">
  <app-task
    *ngFor="let task of tasks"
    [task]="task"
    (deleteTask)="deleteTask(task)"
    (completeTask)="completeTask(task)"
    (editTask)="editTask()"
  ></app-task>
</div>
